.wrapper {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  backdrop-filter: blur(10px); // Застосовуємо блур-ефект
  -webkit-backdrop-filter: blur(10px); // Для підтримки в Safari
  background: rgba(255, 255, 255, 0); // Прозорий фон без кольору або свічення
  @media (max-width: 600px) {
  }
}
